# Ambientes Virtuais (Pastas)
.venv/
venv/
.env/
env/
ENV/

# Variáveis de Ambiente e Segredos (Arquivos)
.env
.env.*

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ferramentas de Teste e Cobertura
.pytest_cache/
.coverage
htmlcov/

# Configurações de IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

credenciais.json